body {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
}

.hidden {
  display: none;
}

.jumbotron {
  background: rgba(204, 204, 204, 0.81);
  margin-top: 2%;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  ;
}

h3 {
  padding-top: 50px;
}

p {
  padding-bottom: 30px;
}

#refresh {
  padding-top: 50px;
}