body {
  text-align: center;
  background-color: indianred;
}

.hidden {
  display: none;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  ;
}

h3 {
  padding-top: 50px;
}

p {
  padding-bottom: 30px;
}

#refresh {
  padding-top: 50px;
}